<p style="color: green"><%= notice %></p>

<h1>Articals</h1>

<div id="articals">
  <% @articals.each do |artical| %>
    <%= render artical %>
    <p>
      <%= link_to "Show this artical", artical %>
    </p>
  <% end %>
</div>

<%= link_to "New artical", new_artical_path %>
